<h1 class="grow text-3xl md:text-4xl font-medium mb-8" i18n="@@home.index.headline">Welcome to your new app!</h1>
<p class="mb-12" i18n="@@home.index.text">Your app was created with <a href="https://bootify.io" target="_blank" class="underline">Bootify.io</a> and can now be customized. If you are happy with the result, <strong>please recommend us to other developers</strong> - so Bootify.io can grow further.</p>
<div class="md:w-2/5 mb-12">
    <h4 class="text-2xl font-medium mb-4" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="flex flex-col border border-gray-300 rounded">
        <a routerLink="/usuarioss" class="w-full border-gray-300 hover:bg-gray-100 border-b rounded-t px-4 py-2" i18n="@@usuarios.list.headline">Usuarioses</a>
        <a routerLink="/roless" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@roles.list.headline">Roleses</a>
        <a routerLink="/empresass" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@empresas.list.headline">Empresases</a>
        <a routerLink="/fichajess" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@fichajes.list.headline">Fichajeses</a>
        <a routerLink="/horasextrass" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@horasextras.list.headline">Horasextrases</a>
        <a routerLink="/registrocambioscontrasenias" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@registrocambioscontrasenia.list.headline">Registrocambioscontrasenias</a>
        <a routerLink="/configuracionautenticacions" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2" i18n="@@configuracionautenticacion.list.headline">Configuracionautenticacions</a>
        <a routerLink="/historialactividads" class="w-full border-gray-300 hover:bg-gray-100 rounded-b px-4 py-2" i18n="@@historialactividad.list.headline">Historialactividads</a>
    </div>
</div>
